<header class="bg-white shadow">
  <div class="container mx-auto flex justify-between items-center p-4">
    <a href="#" class="text-2xl font-bold text-blue-600">MyBlog</a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="{% url 'home' %}" class="hover:text-blue-600">Home</a></li>
        <li><a href="{% url 'about' %}" class="hover:text-blue-600">About</a></li>
        <li><a href="#" class="hover:text-blue-600">Contact</a></li>
      </ul>
    </nav>
    <div class="flex items-center gap-2">
      {% if request.user.is_authenticated %}

      <a href="{% url 'profile' %}" class="capitalize font-bold">{{request.user.username}}</a>
      <a
        href="{% url 'logout' %}"
        class="px-4 py-2 bg-blue-800 rounded-lg text-white"
        >Logout</a
      >

      {% else %}

      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Sign up</a>
      {% endif %}
    </div>
  </div>
</header>
