@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    padding-right: 2.5rem;
}

.select-wrapper svg {
    height: 1.25rem; 
    width: 1.25rem;
}

.select-wrapper select {
    padding-right: 2.5rem;
}

#div_id_category > div{
    @apply relative
}

#div_id_category svg{
    @apply absolute w-6 h-6 right-3 top-1/2 -translate-y-1/2
}