{% extends "base/base.html" %} {% block body %}

<!-- Hero Section -->

<section class="py-16 text-center">
  <h1 class="text-4xl font-bold mb-4">Technical Blog</h1>
  <p class="text-gray-400 max-w-2xl mx-auto px-1">
    A resource for technical insights and discussions. We share knowledge about
    coding, system design, and development trends.
  </p>
</section>

<!-- Featured Posts -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-16">
  <h2 class="text-2xl font-semibold mb-8">Featured Posts</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Featured Post Card 1 -->
    {% for post in latest_post %}

    <div
      class="bg-gradient-to-br hover:scale-105 transition-transform duration-300 {% if forloop.counter == 1 %} from-blue-900 to-purple-900{% elif forloop.counter == 2 %} from-green-900 to-blue-900 {% else %} from-purple-900 to-pink-900 {% endif %} rounded-lg overflow-hidden"
    >
      <a href="{% url 'post' post.slug %}">
        <img
          src="https://placehold.co/400x300"
          alt="Blog post"
          class="w-full h-48 object-cover"
      /></a>
      <div class="p-6">
        <h3 class="text-xl font-semibold mb-2">
          <a href="{% url 'post' post.slug %}"> {{post.title}} </a>
        </h3>
        <p class="text-gray-300 mb-4">{{post.description|truncatewords:9}}</p>
        <div class="flex items-center text-sm text-gray-400">
          <span>{{post.created_at|date:"F d, Y"}}</span>
          <span class="mx-2">•</span>
          <span>11 min read</span>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- All Posts -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-16">
  <h2 class="text-2xl font-semibold mb-8">All Posts</h2>

  <!-- Tags -->
  <div class="flex flex-wrap gap-2 mb-8">
    {% for tag in tags.all %}
    <button
      class="px-4 py-2 capitalize rounded-full bg-gray-800 text-gray-300 hover:bg-gray-700"
    >
      {{tag}}</button
    >{% endfor %}
  </div>

  <!-- Posts Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Post Cards -->
    {% for post in posts %}

    <div
      class="bg-gray-800 rounded-lg overflow-hidden hover:scale-105 duration-300 hover:bg-gray-700 transition-all"
    >
      <img
        src="https://placehold.co/400x300"
        alt="Tailwind CSS"
        class="w-full h-48 object-cover cursor-pointer"
      />
      <div class="p-6">
        <h3 class="text-xl font-semibold mb-2">
          <a href="{% url 'post' post.slug %}"> {{post.title}} </a>
        </h3>
        <p class="text-gray-400 mb-4">{{post.description | truncatewords:9}}</p>
        <div class="flex items-center text-sm text-gray-500">
          <span>{{post.created_at|date:"F d, Y"}}</span>
           <span class="mx-2">•</span>
          <span>11 min read</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
