{% extends "base/base.html" %} {% block body %}

<main class="container mx-auto mt-3 px-6 py-8 bg-white flex justify-between">
  <div class="rounded-lg shadow-md p-8 max-w-2xl">
    <div class="flex items-center mb-6">
      <img
        src="https://via.placeholder.com/150"
        alt="User Avatar"
        class="w-20 h-20 rounded-full mr-4"
      />
      <div>
        <h1 class="text-2xl font-semibold text-gray-800">{{user.first_name}} {{user.last_name}}</h1>
        <p class="text-gray-600">@{{user.username}}</p>
      </div>
    </div>
    <div class="mb-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-2">Bio</h2>
      <p class="text-gray-600">
        {% if user.bio == '' %}
        <p>You don&apos;t have a bio yet.</p>
        {% else %}
        {{user.bio}}
        {% endif %}
      </p>
    </div>
    <div class="mb-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-2">My Posts</h2>
      <ul class="space-y-4">
        {% for post in posts %}

        <li>
          <a
            href="{% url 'post' post.id %}"
            class="block bg-gray-50 p-4 rounded-lg hover:bg-gray-100"
          >
            <h3 class="text-lg font-semibold text-gray-800">
              {{post.title}}
            </h3>
            <p class="text-gray-600">{{post.created_at}}</p>
          </a>
        </li>
        {% empty %}
        <p>Your have not posted yet</p>
        {% endfor %}
      </ul>
    </div>
    {% if request.user.is_authenticated %}
    <div>
      <a
        href="{% url 'edit-profile' request.user %}"
        class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
        >Edit Profile</a
      >
    </div>
    {% endif %}
  </div>
  <div>
    <button
      class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
    >
      <a href="{% url 'add-post' %}"> Create post</a>
    </button>
  </div>
</main>
{% endblock body %}
